#ss {
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
}
.medibazarhome {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
 
}




.xx {
  opacity: 0.9;
}
#menuBtn {
  position: fixed;
  right: 65px;
  padding-top: 35px;
  z-index: 2;
}
.svgicons{
  transform: scale(1.7);
}
#menuBtn2 {
  position: fixed;
  right: 65px;
  top: 90px;
  z-index: 5;
}

.menu-bars {
  font-size: 1.5rem;
  background: none;
}
.hh4 {
  left: 400px;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  transition: 850ms;
  z-index: 2;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: left;

  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  align-items: left !important;

  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* search box */
.testClass {
  padding: top 150px !important;
}
.searchInputs {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
}

.searchInputs input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 32px;
  width: 200px;
}

.searchIcon {
  height: 32px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}
.positionSame {
  /* background-image: linear-gradient(170deg, rgb(0, 198, 167), rgb(30, 77, 146)); */
  position: fixed !important;
  top: 0px;
  bottom: 0px;
  left: 1px;
  width: 20%;
}
.giituu {
  /* position: relative;  */
  margin-left: 17%;
}
.xx{
  height:800px;
  width: 800px;
}
