.shipForm input {
    display:block;
    margin-top: 30px;
    padding:5px;
    border:1px solid gray;
    border-radius: 5px;
    width:320px;
    text-align: center;

}
.error{
    color:orangered;
}
.shipForm input .inutSubmit{
    background-color: aqua;
}