.Item-Cart {
    
    border-radius: 12px;
    box-shadow: 0 2.8px 2.2px rgba(12, 198, 211, 0.068),
      0 6.7px 5.3px rgba(4, 165, 240, 0.062), 0 12.5px 10px rgba(19, 192, 223, 0.06),
      0 22.3px 17.9px rgba(17, 174, 221, 0.072), 0 41.8px 33.4px rgba(13, 143, 219, 0.123),
      0 100px 80px rgba(4, 154, 214, 0.144);
}
.tx{
  text-align: center;
}
  