
.cxdt{
    color:#fff;
}
.xc{
    color:#fff !important;
}

.nabb:hover {
  
    color:#3498db !important; 
    border-bottom: 1px solid #565387;
    }
.menu_item{
  font-weight: bold;
  border-bottom: 1px solid #565387;
  

    }
    
@media(max-width:1200px){
    .nabb {
        font-size:1.0rem !important;

    }
}

